@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

$text:#babecc;
$listText:white;
$high:#ff6666;
$medium:#ffd700;
$low:#2ee6e6;
$back:#ebf5fc;

$color_red:#FF564B;
$color_white:#EDE9DD;
$color_yellow:#FFDE59;

$font_noto: 'Noto Sans JP', sans-serif;