@charset "UTF-8";
@import "_stylesheet.scss";

body {
	padding-top: 120px; /* ヘッダーの後ろに要素が隠れないようにするため */
	background-color: #FFF;
}

header {
	width: 100%;
	height: 70px;
	padding: 20px 50px;
	box-sizing: border-box; /* padding分を含んで幅を100%にするため */
	position: fixed; /* ウィンドウを基準に画面に固定 */
	top: 0; /* 上下の固定位置を上から0pxにする */
	left: 0; /* 左右の固定位置を左から0pxにする */
	display: flex; /* 中の要素を横並びにする */
	align-items: center; /* 中の要素を上下中央に並べる */
	background-color: $color_red;
	
	.header_logo img {
		width: auto;
		height: 40px;
	}

	.header_btn {
		margin: 0 0 0 auto;
		display: flex;
	}

	/* ヘッダーボタン ↓ */
	.reset {
		text-decoration: none;
		font-family: $font_noto;
		font-weight: normal;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: normal;
		border: none;
		background: transparent;
		margin: 0;
		padding: 0;
		outline: none;
		cursor: pointer;
	}

	.flat {
		position: relative;
		text-align: center;
		/* 中央揃え */
		display: block;
		margin: 0 auto;
		/* 幅の指定 */
		width: 100%;
		max-width: 200px;
		box-sizing: border-box;
		padding: 10px;
		
		font-weight: bold;
		border-radius: 8px;
		transition: 0.3s;
	}

	.border {
		border: 2px solid $color_white;
		background: $color_red;
		color: $color_white;
		
		&:hover {
			background: $color_white;
			color: $color_red;
		}
	}
	/* ヘッダーボタン ↑ */
}

.item .item_image {
	width: 130px;
	height: 130px;
}